.footer{
	background-color: #434d5a;
	    height: 260px;
	    color: #dadcde;
	    padding-bottom: 71px;
}
.off{
	padding-top: 71px;
	
	
}
.droi{
	text-align: right;
	    word-spacing: 10px;
	    float: right;
}
.gau{
width: 46%;
float: left;
}
.flech{
    font-size: 3rem;
    color: #fff;
    background: #e74c3c;
    border: 1px solid;
    border-radius: 82px;
    margin-bottom: 50px;
    margin-top: 88px;
    display: inline;
}